/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --White: #fff;
  --Shark: #272727;
}

.container {
  width: min(100%, 1380px);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
}

.header {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  color: var(--White);
  font-size: 20px;
  font-weight: 600;
}
.header .header__content {
  display: flex;
}
.header .header__logo {
  color: inherit;
}
.header .header__menu {
  margin-left: 50px;
  display: flex;
  position: relative;
}
.header .header__menu div:first-of-type {
  width: 60px;
  margin-right: 10px;
  height: 2px;
  position: relative;
  left: 0;
  top: 5px;
  background-color: var(--White);
}
.header .header__menu div:last-of-type {
  width: 40px;
  height: 2px;
  position: absolute;
  left: 20px;
  top: 15px;
  background-color: var(--White);
}
.header .header__language {
  margin-left: auto;
  margin-right: 20px;
}
.header .header__login img {
  width: 30px;
  height: 20px;
}
.header .header__basket {
  color: inherit;
}
.header .header__basket img {
  width: 30px;
  height: 20px;
}
.header .header__basket .basket__price {
  content: attr("data-price");
}

.hero {
  height: 100vh;
  background-image: url("../img/hero/bg.jpg");
  background-size: cover;
}
.hero .hero__content {
  align-self: center;
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 100px;
}
.hero .hero__content .account {
  backdrop-filter: blur(15px);
  padding: 100px;
  border-radius: 0 200px 0 200px;
}
.hero .hero__content .account span:first-of-type {
  display: flex;
  color: var(--White);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 24px;
}
.hero .hero__content .account .account__form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero .hero__content .account .account__form .account__login,
.hero .hero__content .account .account__form .account__password,
.hero .hero__content .account .account__form .account__enter {
  padding: 10px;
  background-color: #3D3936;
  border: 1px solid #fff;
  border-radius: 0 15px 0 15px;
}
.hero .hero__content .account .account__form .account__login input,
.hero .hero__content .account .account__form .account__password input,
.hero .hero__content .account .account__form .account__enter input {
  opacity: 1;
  width: 100%;
  color: var(--White);
}
.hero .hero__content .account .account__form .account__login input::placeholder,
.hero .hero__content .account .account__form .account__password input::placeholder,
.hero .hero__content .account .account__form .account__enter input::placeholder {
  text-align: center;
  color: var(--White);
  letter-spacing: 2px;
  font-weight: 500;
}
.hero .hero__content .account .account__form .account__enter {
  background-color: var(--White);
  color: var(--Shark);
  letter-spacing: 2px;
  font-weight: 600;
}
.hero .hero__content .hero__subtitle {
  font-size: 48px;
  color: var(--White);
  font-weight: 500;
}
.hero .hero__content .hero__title {
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 68px;
  color: var(--White);
  font-weight: 600;
}
.hero .hero__content .hero__delevery-btn {
  padding: 15px 30px;
  border: 1px solid var(--White);
  border-radius: 0 50px 50px 50px;
  font-size: 20px;
  color: var(--White);
  text-transform: uppercase;
}

/*# sourceMappingURL=styles.css.map */
